@charset "UTF-8";


.avatar-100 {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.295);
}