@charset "UTF-8";


.post {
    background-color: rgba(128, 128, 128, 0.048);
    border-radius: 15px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.212);
}

.post .col-3 {
    display: block;
    
}

.avatar {
    width: 80px;
    height: 80px;
    
}


.nome {
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, 0.486);
    font-size: .8rem;
}

.cursos {
    display: inline-block;
    padding: 3px;
    font-size: .7rem;
    border-radius: 5px;
    background-color: rgba(52, 165, 52, 0.205);
}

.titulo {
    color: rgba(0, 0, 0, 0.63);
    font-size: 1.2rem;
    
}

.post hr {
    margin-top: 0px;
}

.corpo{
    text-align: left;
    font-size: .9rem;
    
}

.data-hora {
    display: block;
    text-align: right;
    
}

.roda-pe {
    display: flex;
    gap: 10px;
}

.roda-pe button {
    width: max-content;
    padding: 3px;
    margin: 3px;
}