@charset "UTF-8";

.user {
    display: flex;
    align-items: center;
    
}

.user span {
    max-width: 100%;
    color: rgba(0, 0, 0, 0.459);
    margin-left: 15px;
}

span strong {
    font-size: 1.2rem;
}

.btn-posts {
    width: max-content;
    font-size: .8rem;
}

.cursos {
    display: inline-block;
    max-width: 100%;
    gap: 5px;
}


.cursos span {
    display: inline-block;
    padding: 3px;
    font-size: .7rem;
    border-radius: 5px;
    background-color: rgba(52, 165, 52, 0.205);
}