{% extends 'base.html' %}

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/exibir_post.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/post.css') }}">
    {% endblock %}

    {% block main %}
        <br>
        <div id="post" class="row border p-2 post">
            <div class="row">
                <div class="avatar" style="background-image: url('{{ post.autor.retur_foto_perfil() }}');"></div>
                <div class="nome-cursos-data">
                    <strong class="nome">{{ post.autor.username }}</strong>
                    <small class="data-hora"> Data de Publicação: {{ post.data_criacao.strftime("%d/%m/%Y - %H:%M") }}</small>
                    <div class="div-cursos">
                        {% for curso in post.autor.cursos.split(";") %}
                            <span class="mt-1 cursos">{{ curso }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <strong class="mb-1 titulo">{{ post.titulo }}</strong>
                <p class="corpo">{{ post.corpo }} </p>
            </div>
            <div class="row roda-pe">
                {% if current_user.id == post.autor.id %}
                    <a id="btn-editar" href="#edicao" class="btn btn-primary" >Editar</a>
                    <a href="#" class="btn btn-danger">Apagar</a>
                {% else %}
                    <a class="btn btn-primary">Curtir</a>
                    <a class="btn btn-secondary">Comentários</a>
                {% endif %}
                
            </div>
        </div>

        {% if current_user.id == post.autor.id %}

            <form id="edicao" method="POST" action="">
                {{ form.csrf_token }}
                <legend class="tit-up">Editar Post</legend>
                <hr>
                <fieldset>
        
                    <div class="form-group">
                        {{ form.titulo.label(class="form-control-label") }}
        
                        {% if form.titulo.errors %}
                            {{ form.titulo(class="form-control is-invalid") }}
                            
                                <div class="invalid-feedback">
                                    {{ form.titulo.errors[0] }}
                                </div>
                        {% else %}
                            {{ form.titulo(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.corpo.label(class="form-control-label") }}
        
                        {% if form.corpo.errors %}
                            {{ form.corpo(class="form-control is-invalid") }}
                            
                                <div class="invalid-feedback">
                                    {{ form.corpo.errors[0] }}
                                </div>
                        {% else %}
                            {{ form.corpo(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
        
                {{ form.botao_submit(class="btn btn-primary mt-2", value="Confirmar edição") }}
                
            </form> 

        {% endif %}
        
    {% endblock %}

    {% block script %}
        
    <script>
        btn_editar = document.getElementById("btn-editar")

        function abrirEdicao() {
            const edicao = document.getElementById("edicao")
            const corpo = document.getElementById("post")

            edicao.classList.toggle("active")
            post.classList.toggle("inactive")
        }

        btn_editar.addEventListener("click", abrirEdicao)
    </script>

    {% endblock %}