{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/posts.css') }}">
{% endblock %}

{% block main %}

    <h1 class="titulo-page-center">Comunidade Impressionadora - hashtag treimanentos</h1>
    <h2 class="subtitulo-page-center">Alunos, esperts e a galera da Hashtag em um só lugar</h2>
    <hr>

    {% for post in posts %}
        <div class="row border mt-4 p-1 post">
            <div class="col col-3">
                <div class="avatar" style="background-image: url('{{ avatar(post.autor.foto_perfil) }}');"></div>
                <strong class="nome">{{ post.autor.username }}</strong>

                <div style="text-align: center;">
                    {% for curso in post.autor.cursos.split(";") %}
					<span class="mt-1 cursos">{{ curso.split(' ')[0] }}</span>
				    {% endfor %}
                </div>
            </div>

            <div class="col ">
                <h3 class="titulo">{{ post.titulo }}</h3>
                <hr>
                <p class="corpo">{{ post.corpo }} </p>
                <small class="data-hora">{{ post.data_criacao }}</small>
                <hr>
                <div class="row roda-pe">
                    {% if current_user.id == post.autor.id %}
                    <button class="btn btn-secondary">Comentários</button>
                    <button class="btn btn-danger">Apagar</button>
                    {% else %}
                    <button class="btn btn-primary">Curtir</button>
                    <button class="btn btn-secondary">Comentários</button>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    {% endfor %}
    
    

{% endblock %}

{% block script %}
{% endblock %}
