{% extends 'base.html' %}

{% block head %}
    <style>
		


    	#cab {
    		box-shadow: 0px 1px 4px #00000085;
			min-height: calc(12vh + 110px);
    	}
    
	    #pf {
	      width: 100%;
	      height: 20vh;
	      box-shadow: 0px 1px 4px #00000085;
	    }
	    
	    #foto-name-edit {
	      display: flexbox;
	      width: 100%;
	      padding-bottom: 2vh;
	    }
	    
	    #foto-name-edit img {
	      display: block;
	      width: 100px;
	      height: 100px;
	      transform: translate(0%, -50%);
	      margin: auto;
	      border: .5vh solid white;
	      border-radius: 50%;
	      box-shadow: 0px 1px 4px #00000085;
	    }
	    
	    #nome {
	      position: relative;
	      display: block;
	      width: 60%;
	      margin: -50px auto 10px auto;
	      height: max-content;
	      font-size: .9rem;
	      font-weight: bold;
	      text-align: center;
	      color: #00000086;
		  transition: .5s;
	    }
	    
	    #foto-name-edit a {
	      position: relative;
	      display: block;
	      width: max-content;
	      height: max-content;
	      margin: 5px auto;
	      padding: 3px 20px;
	      text-decoration: none;
	      color: #0AC1FB;
	      text-align: center;
	      font-size: .9rem;
	      border: 1px solid #0AC1FB;
	      border-radius: 3px;
	      transition: .5s;
	    }
	    
	    #foto-name-edit a:hover {
	      background: #0AC1FB;
	      color: white;
	    }
	    
	    #info {
	      width: 80%;
	      left: 10%;
	      justify-content: space-between;
	      padding-top: 10px;
	      margin: 20px auto 0 auto;
	      font-size: 1em;
	      color: #00000065;
    	  text-align: center;
 	   }
 	   
 	   #info .sep {
 	     border-right: 1px solid #00000010;
 	   }
 	   
 	   #info th {
 	     font-weight: normal;
 	   }
 	   
 	   #info td {
 	     color: #0AC1FB90;
 	     font-weight: bolder;
 	   }

	   @media (min-width: 800px) {


		#foto-name-edit {
	      display: block;
	    }

		 
		#foto-name-edit img {
	      margin-left: 1vw;
		  width: 100px;
		  height: 100px;
		  transform: translate(0%, -10%);
	    }

		#nome {
	      margin: -100px auto auto 120px;
		  font-size: 1.5rem;
		  text-align: left;
	    }
		

		#foto-name-edit a {
	      margin: 5px auto auto 120px;
	    }


		#info {
	      width: 60%;
	      left: 10%;
	      font-size: 1em;
		  margin: -40px auto auto 40%;
 	   }


	   }
    
    
  </style>
{% endblock %}

{% block body %}

<div id="cab body">
    
    <div id="pf" style="background: rgb(203, 253, 255) url('{{ bg_perfil }}') no-repeat fixed; background-size: cover;">
      
    </div>
    
    <div id="foto-name-edit">
      <img src="{{ foto_perfil }}" alt="">
      <span id="nome">{{ current_user.username }}</span>
	  {% if not editor %}
      	<a href="{{ url_for('editar_perfil') }}">editar perfil</a>
	  
      
		<table id="info">
			<thead>
			<th class="sep">ID</th>
			<th class="sep">Cursos</th>
			<th>Post</th>
			</thead>
			<tbody>
			<td class="sep">{{ current_user.id }}</td>
			<td class="sep">{{ current_user.cursos }}</td>
			<td>{{ current_user.posts }}</td>
			</tbody>
		</table>
	  {% endif %}
    </div>
  </div>


{% block form_editarperfil %}

{% endblock %}

{% endblock %}