{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/perfil.css') }}">
{% endblock %}

{% block main %}

    <div id="pf" style="background: rgb(203, 253, 255) url('{{ bg_perfil }}') no-repeat fixed; background-size: cover;">
      
    </div>
    
    <div id="foto-name-edit">
		<div id="img"  style="background: rgb(185, 243, 185) url('{{ foto_perfil }}') center center fixed; background-size: cover;"></div>
		<span id="nome">{{ current_user.username }}</span>
		{% if not editor %}
		<a href="{{ url_for('editar_perfil') }}">editar perfil</a>


		<table id="info">
			<thead>
			<th class="sep">ID</th>
			<th class="sep">Cursos</th>
			<th>Post</th>
			</thead>
			<tbody>
			<td class="sep">{{ current_user.id }}</td>

			<td class="sep">
				{% if current_user.cursos in ("não informado", "") %}
					0
				{% else %}
					<button id="btn-cursos"> 
						{{ current_user.cursos.count(";") + 1 }}
					</button>
				{% endif %}
			</td>

			<td>{{ current_user.posts }}</td>
			</tbody>
		</table>
		<div id="list-cursos" class="row justify-content-center">
			<div class="col" style="text-align: center;">
				Cursos <br>
				{% for curso in current_user.cursos.split(";") %}
					<button class="btn btn-success disabled mt-2">{{ curso }}</button>
				{% endfor %}
			</div>
		</div>
		{% endif %}
    </div>



  


	{% block form_editarperfil %}

	{% endblock %}

	

{% endblock %}

{% block script %}
	<script>
		btn_cursos = document.getElementById('btn-cursos')

		function abrirCursos() {
			lista = document.getElementById('list-cursos')
			lista.classList.toggle('active')
		}

		btn_cursos.addEventListener('click', abrirCursos)

	</script>
{% endblock %}