{% extends 'base.html' %}

{% block head %}
    <style>
        body {
            
        }

        #cab {
            position: relative;
            display: flex;
            width: 100%;
            padding: 10px;

        }

        #foto-name-edit {
            display: inline-block;
        }

        #foto-name-edit img{
            width: 20vw;
            height: 20vw;
            max-width: 200px;
            max-height: 200px;
            border-radius: 50%;
        }

        #foto-name-edit a{
            display: block;
            width: 80%;
            margin: 10px auto;
            max-width: 200px;
            padding: 1%;
            border-radius: 5px;
            font-weight: bold;
            font-size: .7rem;
            text-align: center;
            text-decoration: none;
            color: rgb(32, 163, 250);
            border: 2px solid rgb(32, 163, 250);
        }

        #info {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            margin-left: 10px;
            
        }

        #info span {
            display: block;
            width: 100%;
            line-height: 18px;
            font-size: 1.3rem;
            font-weight: bold;
            text-align: left;
            text-indent: 10px;
            color: rgba(0, 0, 0, 0.459);
            
        }

        #info span#email {
            display: block;
            width: 100%;
            margin-top: 0px;
            font-size: 1rem;
            font-weight: bold;
            text-align: left;
            text-indent: 10px;
            color: rgb(32, 163, 250);
            
        }

        #info ul {
            display: flex;
            width: 100%;
            margin-top: 8px;
            border-top: 1px solid black;
            justify-content: space-evenly;
            padding: 3px 0px;

        }

        #info ul li {
            list-style: none;
            text-align: center;
        }

        #info ul li h2, h1 {
            text-align: center;
            font-size: 1em;
        }

        .infn {
            color: rgba(0, 0, 0, 0.342);
        }

        .infv {
            color: rgba(60, 161, 250, 0.534);
            font-size: 1.1em;
            font-weight: bolder;
        }

        #btn-cpost {
            display: block;
            width: 100%;
            margin: 8px 0px auto auto;
            max-width: 400px;
            padding: 1%;
            border-radius: 5px;
            font-weight: bold;
            font-size: .7rem;
            text-align: center;
            text-decoration: none;
            color: white;
            background: rgb(32, 163, 250);
        }


    </style>
{% endblock %}

{% block body %}

<div id="cab">
    <div id="foto-name-edit">
        <img src="{{ foto_perfil }}" alt="">
        <a href="{{ url_for('editar_perfil') }}">editar perfil</a>
    </div>
    <div id="info">
        <span id="nome">{{ current_user.username }}</span>
        <span id="email">{{ current_user.email }}</span>
        <ul>
            <li>
                <h2 class="infn">ID</h2>
                <h1 class="infv">{{ current_user.id }}</h1>
            </li>
            <li>
                <h2 class="infn">Cursos</h2>
                <h1 class="infv">{{ current_user.cursos }}</h1>
            </li>
            <li>
                <h2 class="infn">Posts</h2>
                <h1 class="infv">0</h1>
            </li>
        </ul>
        <a id="btn-cpost" href="#"> Criar Post</a>
    </div>
</div>

{% block form_editarperfil %}

{% endblock %}

{% endblock %}